
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #14a86f;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


#lista-pokemons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: capitalize;
    margin: .5rem;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
}

.number{
    color: #055f3d;
}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail img{
    width: 100px;
    height: 100px;
}

.detail ol{
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
}

.detail li{
    filter: brightness(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
    font-size: .8rem;
    margin: .8rem 0;
    padding: .5rem;
    border-radius: .6rem;
    text-align: center;
}

.morelist{
    display: flex;
    justify-content: center;
}

#btnmore{
    background-color: black;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btnmore:active{
    background-color: #ccc;
    color: #474747;
}


@media screen and (min-width: 415px) {
    #lista-pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 650px) {
    #lista-pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 950px) {
    #lista-pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    #lista-pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
